<!-- <p>component-service works!</p>
<div class="bg-color-4 mx-16 my-10 w-auto h-auto flex justify-center flex-col py-8 space-y-5">
    <h1 class="text-3xl text-center text-color-2 font-semibold uppercase">cuidamos en nuestros servicios</h1>
    <h1 class="text-4xl text-center text-color-1 font-bold capitalize">Nuestros Servicios</h1>
    <div class=" mt-10 w-[75%] mx-auto  h-[70svh] grid grid-cols-10">
        <div class=" col-span-2 ">
            <div class=" w-full h-[90%] grid grid-rows-4 *:row-span-1 rounded-t-xl border">
                <div class="space-y-2 flex items-center justify-center flex-col border hover:bg-color-1 rounded-t-xl cursor-pointer group" *ngFor="let element of serviceLists">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9 text-color-2 group-hover:text-color-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>                      
                    <h1 class="text-color-5 text-xl group-hover:text-color-3">{{element.name}}</h1>
                </div>
            </div>
            <button type="button" class="bg-color-1 rounded-b-xl w-full h-[10%] capitalize text-color-3 hover:text-white text-xl"><a routerLink="/service">ver todo</a></button>
        </div>
        <div class="col-span-8">

        </div>
    </div>
</div> -->


<div>
    <div class="content-info-main">
        <h2 class="h2-style-global">Confia en nostros</h2>
        <h1 class="h1-style-global">Nuestros servicios</h1>
    </div>
    <div class="mx-global grid grid-cols-12 gap-5 mt-16">
        <div class="col-span-2">
            <div class="grid grid-rows-4"  >
                <div class="elements-style group"  *ngFor="let element of contentService.slice(0,4)" (click)="getInfo(element.id)"  >
                    <i class="fa-solid fa-notes-medical fa-xl text-color-2 group-hover:text-color-3" ></i>
                    <h3 class="elements-letter">{{element.name}}</h3>
                </div>
            </div>
            <button type="button" class="button-style" routerLink="/service">Ver mas</button>
        </div>
        <div class="col-span-10  grid grid-cols-4 gap-5 " *ngIf="infoFing" >
            <div class="col-span-2 space-y-4 relative">
                <h1 class="font-inter font-medium text-[1.6rem] text-color-5 capitalize"   >{{infoFing.name}}</h1>
                <ul class="grid grid-cols-2 gap-3">
                    <li class="text-color-5 font-inter font-normal text-[1.2rem] flex items-start ">{{infoFing.activities[0]}} </li>
                    <li class="text-color-5 font-inter font-normal text-[1.2rem]">{{infoFing.activities[1]}} </li>
                    <li class="text-color-5 font-inter font-normal text-[1.2rem]">{{infoFing.activities[2]}} </li>
                    <li class="text-color-5 font-inter font-normal text-[1.2rem]">{{infoFing.activities[3]}} </li>
                </ul>
                <p class="font-inter font-normal text-[1rem] text-color-5">{{infoFing.description}}</p>
                <button type="button" class="button-register" (click)="register()" >Registrar cita</button>
            </div>
            <div class="col-span-2 grid grid-rows-2 gap-8   w-full h-full">
                <img src="image/image1.png" alt="" class="w-full h-full rounded-lg">
                <img src="image/image2.png" alt="" class="w-full h-full rounded-lg">

            </div>

        </div>
    </div>
</div>


<div class="py-16 relative" *ngIf="registerContent" >
    <img src="image/image1.png" alt="" class="w-full  h-auto opacity-20">
    <div class="px-global h-auto  absolute transform left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-between w-full">
        <div class="w-[50%] px-5">
            <h1 class="font-cormorant_Garamond text-color-2 font-bold text-[2rem]">Reserva tu cita</h1>
            <p class="font-inter text-[1rem] text-color-5 font-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi soluta et debitis, facere eligendi dolorum assumenda totam nemo, facilis dolores numquam non culpa modi architecto nisi nobis aspernatur quibusdam?</p>
        </div>
        <div class="w-1/2  h-full">
            <form (ngSubmit)="onSubmit()" [formGroup]="formRegisterContacts" class="grid grid-cols-2 rounded-xl *:border-b-2  *:border-color-3 ">
                <div class="style-div-father col-span-2 rounded-t-xl">
                    <label for="typeService" class="style-label " >Servicio</label>
                    <select name="" id="typeService" class="style-select">
                        <option value="{{item.name}}"  class="bg-color-3 hover:bg-color-2 font-inter font-medium text-white text-[1.1rem] " *ngFor="let item of contentService" >{{item.name}}</option>
                    </select>
                </div>
                <div class="style-div-father col-span-2">
                    <label for="nameService" class="style-label ">Nombre</label>
                    <input type="text" id="nameService" class="style-select">
                </div>
                
                <div class="style-div-father col-span-2">
                    <label for="celular" class="style-label">Celular</label>
                    <input type="number" id="celular" class="style-select">
                </div>
                <div class="style-div-father col-span-2">
                    <label for="email" class="style-label">Email</label>
                    <input type="email" id="email" class="style-select">
                </div>
                <div class="style-div-father col-span-1">
                    <label for="dia" class="style-label">Dia</label>
                    <input type="date" id="dia" class="style-select">
                </div>
                <div class="style-div-father col-span-1">
                    <label for="hora" class="style-label">Hora</label>
                    <input type="time" id="hora" class="style-select" >
                </div>
                <div class="style-div-father col-span-2 flex flex-col   ">
                    <label for="mensaje" class="font-inter font-medium text-white text-[1.1rem]  w-full h-full">Mensaje</label>
                    <textarea name="" id="mensaje" class="bg-color-1  focus:outline-none focus:text-color-3  h-40 font-inter font-medium text-white text-[1.1rem]"></textarea>
                </div>
                <button type="submit" class="bg-color-3 col-span-2 p-2 text-xl  text-color-1 hover:text-white rounded-b-xl" >Enviar</button>

            </form>
        </div>
    </div>
</div>
