<!-- <footer class="bg-color-1 w-full h-[50svh] px-16 py-20 grid grid-rows-4 ">
    <div class=" row-span-3 grid grid-cols-4 *:col-span-1">
        <div class=" space-y-5">
            <h1 class="uppercase text-color-3 text-3xl font-semibold">Veterinaria Tomy</h1>
            <p class="text-white">Deja la salud de tus mascotas en nuestras manos y recibe una atencion de calidad</p>
        </div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
    </div>
    <div class="row-span-1 border-t-2 py-8 flex justify-between">
        <h1 class="text-white font-light text-xl">Pagina hecho por PAPO</h1>
        <div class="flex space-x-5">
        </div>
    </div>
</footer> -->
<footer class="footer-style">
    <div class="each-element-style">
        <h1 class="font-cormorant_Garamond text-white font-bold text-[2rem] uppercase">Veterinaria <br> Tomy</h1>
        <p class="font-inter font-normal text-white text-[1.1rem] ">Liderando el camino en medicina <br>Excelencia, Atención confiable</p>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Contactanos</h3>
        <div class="space-y-2">
            <p class="p-element-style">Celular:987645132</p>
            <p class="p-element-style">Email:tomygmail.com</p>
            <p class="p-element-style">Dirección: Jr. Calixto 123</p>
        </div>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Atenciòn al cliente</h3>
        <div class="space-y-2">
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
            <div class="flex space-x-1">
                <input type="checkbox" name="" id="" placeholder="ghjklñ">
                <p class="p-element-style">Politicas de devolución</p>
            </div>
        </div>
    </div>
    <div class="each-element-style">
        <h3 class="h3-element-style">Libro de reclamaciones</h3>
        <img src="image/image.png" alt="" class=" ">
    </div>

    <div class="col-span-4 row-span-1 border-t-2 border-color-3 w-full h-[5rem] py-4">
        <div class="flex justify-between">
            <h1 class="p-element-style">Los papu amigos</h1>
            <div class="space-x-4">
                <i class="fa-brands fa-facebook fa-xl text-color-3"></i>
                <i class="fa-brands fa-twitter fa-xl text-color-3"></i>
                <i class="fa-brands fa-twitter fa-xl text-color-3"></i>
            </div>
        </div>
    </div>
</footer>
