<div class="content-info-main">
    <h2 class="h2-style-global">Calidad y precio</h2>
    <h1 class="h1-style-global">Nuestros productos</h1>
    <div class="content-products relative group">
        <div class="content-style-products " *ngFor="let item of elementNotHidden" >
            <img src="image/imageProductTester.png" alt="" class="w-full h-[11rem] rounded-t-xl">
            <div class="w-full h-[11rem]">
                <div class="w-full h-[8.5rem] px-3 flex flex-col justify-center">
                    <h3 class="ont-inter font-bold text-[1rem] text-color-2">{{item.marca| uppercase }}</h3>
                    <h4 class="font-cormorant_Garamond font-bold text-[1.5rem] text-color-1">{{item.name}}</h4>
                    <h5 class="font-inter font-normal text-[1.3rem] text-color-5">{{item.price | currency : 'S/. ' : 'symbol' : '1.2-2' }}</h5>
                </div>
                <div class="w-full h-[2.5rem] bg-color-1 font-inter text-[1.2rem] font-bold rounded-b-xl text-color-3 hover:text-white flex items-center justify-center">Comprar ahora</div>
            </div>
        </div>
        <div class="absolute h-12 w-12 group-hover:bg-color-3  left-0  top-[42%] rounded-full flex justify-center items-center cursor-pointer" (click)="nextProduct()">
            <i class="fa-solid fa-arrow-left fa-xl hover:fa-lg text-white  hover:text-color-1"></i>
        </div>
        <div class="absolute h-12 w-12 group-hover:bg-color-3  right-0  top-[42%] rounded-full flex justify-center items-center cursor-pointer" (click)="backProduct()">
            <i class="fa-solid fa-arrow-right fa-xl hover:fa-lg text-white  hover:text-color-1"></i>
        </div>
    </div>
    <button type="button" class="button-global" routerLink="/products" >Ver mas</button>
</div>
